<form action="/index" method="POST">
	<label for="UCT_lunch">UCT Lunch:</label><br>
	<input name="UCT_lunch"><br>
	<label for="party/beers">Party/Beers:</label><br>
	<input name="party/beers"><br>
	<label for="out_about">Out and About:</label><br>
	<input name="out_about"><br>
	<input type="submit" name ="current_spendature">
	<input type="button" onClick="window.location.href='/reset-week'" value="Reset Week"/>
	<input type="button" onClick="window.location.href='/reset-month'" value="Reset Month"/>
	<input type="button" onClick="window.location.href='/stats'" value="Statistics"/>
	<input type="button" onClick="window.location.href='/review-json'" value="Review JSON"/>
	<h1>UCT lunch</h1>
	<!--<body>{{lunch}}</body>
	<h1>Party/Beers</h1>
	<body>{{party}}</body>
	<h1>Out and About</h1>
	<body>{{out}}</body> -->
</form>
